---
layout: layouts/base.html
---

<div x-data="{
    search: '',
    sort: localStorage.getItem('sortKey') || 'pubdate',
    sortOrder: localStorage.getItem('sortOrderKey') || false,
    show_call(el) {
        return this.search === '' || el.getAttribute('data-title').toLowerCase().includes(this.search.toLowerCase());
    },
    sort_calls() {
        localStorage.setItem('sortKey', this.sort);
        localStorage.setItem('sortOrderKey', this.sortOrder);
        const calls = Array.from(this.$refs.calls.children);
        switch (this.sort) {
            case 'title':
            case 'journal':
                calls.sort((a, b) => {
                    const aAttribute = a.getAttribute(`data-${this.sort}`);
                    const bAttribute = b.getAttribute(`data-${this.sort}`);
                    if (this.sortOrder) {
                        return bAttribute.localeCompare(aAttribute);
                    } else {
                        return aAttribute.localeCompare(bAttribute);
                    }
                });
                break;
            case 'pubdate':
            case 'duedate':
                calls.sort((a, b) => {
                    const aAttribute = a.getAttribute(`data-${this.sort}`);
                    const bAttribute = b.getAttribute(`data-${this.sort}`);
                    if (this.sortOrder) {
                        return Date.parse(aAttribute) - Date.parse(bAttribute);
                    } else {
                        return Date.parse(bAttribute) - Date.parse(aAttribute);
                    }
                });
                break;
        }
        calls.forEach(call => this.$refs.calls.appendChild(call));
    },
}" x-init="sort_calls()" @keydown.window.prevent.ctrl.k="$refs.search.focus()">
    <div class="flex justify-between items-center mb-8">
        {% include "searchBox.html" %}
        {% include "sortDropdown.html" %}
    </div>
    {% if journal %}
    <h1 class="text-4xl font-extrabold leading-tight mb-8">{{ journal.journal }}</h1>
    {% endif %}
    {% if tag %}
    <h1 class="text-4xl font-extrabold leading-tight mb-8">Tag: #{{ tag.name }}</h1>
    {% endif %}
    <div x-ref="calls" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        {{ content | safe }}
    </div>
</div>