---
layout: layouts/base.html
---

<div x-data="{
    search: '',
    sort: localStorage.getItem('sortKey') || 'pubdate',
    sortOrder: localStorage.getItem('sortOrderKey') || false,
    show_call(el) {
        return this.search === '' || el.getAttribute('data-title').toLowerCase().includes(this.search.toLowerCase());
    },
    sort_calls() {
        localStorage.setItem('sortKey', this.sort);
        localStorage.setItem('sortOrderKey', this.sortOrder);
        const calls = Array.from(this.$refs.calls.children);
        switch (this.sort) {
            case 'title':
            case 'journal':
                calls.sort((a, b) => {
                    const aAttribute = a.getAttribute(`data-${this.sort}`);
                    const bAttribute = b.getAttribute(`data-${this.sort}`);
                    if (this.sortOrder) {
                        return bAttribute.localeCompare(aAttribute);
                    } else {
                        return aAttribute.localeCompare(bAttribute);
                    }
                });
                break;
            case 'pubdate':
            case 'duedate':
                calls.sort((a, b) => {
                    const aAttribute = a.getAttribute(`data-${this.sort}`);
                    const bAttribute = b.getAttribute(`data-${this.sort}`);
                    if (this.sortOrder) {
                        return Date.parse(aAttribute) - Date.parse(bAttribute);
                    } else {
                        return Date.parse(bAttribute) - Date.parse(aAttribute);
                    }
                });
                break;
        }
        calls.forEach(call => this.$refs.calls.appendChild(call));
    },
}" x-init="sort_calls()" @keydown.window.prevent.ctrl.k="$refs.search.focus()">
    <div class="flex justify-between items-center mb-8">
        {% include "searchBox.html" %}
        {% include "sortDropdown.html" %}
    </div>
    {{ content | safe }}
</div>