<dialog id="emailSubscriptionModal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold mb-6">Get email alerts</h3>
        <form class="space-y-6 plausible-event-name=Signup plausible-event-signup=Submit" name="email-subscription"
            action="https://callsforpapers.us17.list-manage.com/subscribe/post?u=89c88e5efe473ec473399f017&amp;id=4d59fdf135&amp;f_id=004352e0f0"
            method="post">
            <label for="mce-EMAIL" class="input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                    <path
                        d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                </svg>
                <input id="mce-EMAIL" name="EMAIL" type="email" class="grow" placeholder="scholar@university.edu"
                    required autofocus />
            </label>
            <button type="submit" class="btn btn-primary" aria-label="Get email alerts">Subscribe</button>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>