<footer class="footer footer-center text-base-content rounded p-10">
    <nav class="grid grid-flow-col gap-4">
        <a class="link link-hover" href="/">Home</a>
        <a class="link link-hover" href="/about">About</a>
        <a class="link link-hover" href="/terms">Terms</a>
        <a class="link link-hover" href="/rss.xml">RSS</a>
        <a class="link link-hover" href="https://github.com/julianprester/calls-for-papers">GitHub</a>
    </nav>
    <aside>
        <p>Calls for Papers © {% currentYear %}</p>
    </aside>
</footer>