<dialog id="journalRequestModal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold mb-6">Request a journal</h3>
        <form class="space-y-6" name="journal-request" action="/" netlify>
            <label class="input input-bordered flex items-center gap-2">
                Journal name
                <input type="text" class="grow" placeholder="Journal of Special Issues" required autofocus />
            </label>
            <label class="input input-bordered flex items-center gap-2">
                Calls for papers URL
                <input type="text" class="grow" placeholder="https://journal.com/calls" required />
            </label>
            <label class="input input-bordered flex items-center gap-2">
                CSS selector
                <input type="text" class="grow" placeholder="div.col-sm-9 h2" required />
            </label>
            <button type="submit" class="btn btn-primary" aria-label="Submit journal request">Submit journal
                request</button>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>